@font-face {
font-family: 'maven';
src: 	url('../fonts/mavenpro-medium-webfont.eot');
src: 	url('../fonts/mavenpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/mavenpro-medium-webfont.woff') format('woff'),
url('../fonts/mavenpro-medium-webfont.ttf') format('truetype'),
url('../fonts/mavenpro-medium-webfont.svg#maven_promedium') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'maven';
src: 	url('../fonts/mavenpro-bold-webfont.eot');
src: 	url('fonts/mavenpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/mavenpro-bold-webfont.woff') format('woff'),
url('../fonts/mavenpro-bold-webfont.ttf') format('truetype'),
url('../fonts/mavenpro-bold-webfont.svg#maven_probold') format('svg');
font-weight: bold;
font-style: normal;
}

body {
line-height:180%;
color:#999;
font-family:'maven', sans-serif;
}

a:link {
text-decoration:none;
color:#646464;
}

a:hover {
text-decoration: underline;
}

a:visited {
text-decoration:none;
color:#646464;
}

.darken {
color:#464646;
}

.intro {
font-size: 24px;
line-height: 35px;
padding-top: 50px;
}

.row {
margin-top:40px;
margin-bottom:20px;
}

.terms {
background-color:#2a2a2a;
font-size:x-small;
clear:both;
}

.text-right {
text-align:right;
}

.blackbar {
background:#000;
color:#999;
font-size:16px;
font-weight: normal;
padding: 5px 0;
}

.push {
padding-left: 10px;
}
.stripped {
margin-top: 0;
margin-bottom: 0;
}

.xs {
text-align: right;
}

.lighten {
color:#fff;
}

.fill {
text-align:justify;
}

.s {
font-size:small;
}

.noBullets {
list-style:none;
margin:0;
}

.dottedline {
border-bottom:1px dotted;
width:100%;
}

.lists {
font-size: 12px;
margin-top: 20px;
margin-bottom: 0px;
}

.lineh3 {
width: 120px;
background: white;
margin: -20px auto 20px;
padding: 0 10px;
text-align: center;
font-weight: normal;
}

.textrow {
margin-bottom: 100px;
}

.lineimg {
width: 200px;
background: white;
margin: -20px auto 20px;
padding: 0 20px;
text-align: center;
}

.betweenDottedLines {
vertical-align:middle;
text-align:center;
}

hr {
height:1px;
background-color:#c7c7c7;
}

.underlined {
text-decoration:underline;
}

.carousel {
background-color:transparent;
text-align:center;
min-height:320px;
}

.carousel .item img {
margin-top:40px;
margin-bottom: 40px;
}

.text-center,.centered,.carousel-inner {
text-align:center;
}

.high {
margin-bottom: 5px;
}

.skype {
margin: -10px 0 -17px -15px;
}

.contactinfo {
text-align: right;
line-height: 17px;
}
.contactinfo img {
float: left;
}

@media (max-width: 767px) {
	.intro {
	font-size: 18px;
	line-height: 28px;
	}
	body {
	padding-right: 0px;
	padding-left: 0px;
	}
	.container {
	margin-left: 20px;
	margin-right: 20px;
	}
	.blackbar {
	margin: 20px -20px;
	padding: 5px 20px;
	}
	.footer {
	margin-right: 0px;
	}
	.contactinfo {
	text-align: left;
	}
	.contactinfo img {
	margin-right: 10px;
	}
	.dottedline {
	margin-top: 50px;
	}
	.textrow {
	margin-bottom: 0px;
	}
}

.portfolio     { background-color:#000; }
.portfolio0    { background-color:#000; }
.portfolio1    { background-color:#000; }
.portfolio2    { background-color:#000; }
.portfolio3    { background-color:#000; }
.portfolio4    { background-color:#000; }
.portfolio5    { background-color:#000; }
.portfolio6    { background-color:#000; }
.portfolio7    { background-color:#000; }
.portfolio8    { background-color:#000; }
.portfolio9    { background-color:#000; }
.portfolio10   { background-color:#000; }
.portfolio11   { background-color:#000; }
.portfolio12   { background-color:#000; }
.portfolio13   { background-color:#000; }
.portfolio14   { background-color:#000; }
.portfolio15   { background-color:#000; }
.portfolio16   { background-color:#000; }
.portfolio17   { background-color:#000; }
.portfolio18   { background-color:#000; }