@font-face {
font-family: 'maven';
src: 	url('../fonts/mavenpro-medium-webfont.eot');
src: 	url('../fonts/mavenpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/mavenpro-medium-webfont.woff') format('woff'),
url('../fonts/mavenpro-medium-webfont.ttf') format('truetype'),
url('../fonts/mavenpro-medium-webfont.svg#maven_promedium') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'maven';
src: 	url('../fonts/mavenpro-bold-webfont.eot');
src: 	url('fonts/mavenpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/mavenpro-bold-webfont.woff') format('woff'),
url('../fonts/mavenpro-bold-webfont.ttf') format('truetype'),
url('../fonts/mavenpro-bold-webfont.svg#maven_probold') format('svg');
font-weight: bold;
font-style: normal;
}

#map img {
height: 134px;
}

body {
line-height:170%;
color:#999;
font-family:'maven', sans-serif;
margin: 0;
padding: 0;
position: relative;
}

a:link {
text-decoration:none;
color:#646464;
}

a:hover {
text-decoration: underline;
}

a:visited {
text-decoration:none;
color:#646464;
}

.darken {
color:#464646;
}

.intro {
font-size: 17px;
line-height: 29px;
padding-top: 34px;
}

.row {
margin-top:40px;
margin-bottom:20px;
}

.terms {
background-color:#2a2a2a;
font-size:x-small;
clear:both;
}

.text-right {
text-align:right;
}

.blackbar {
background:#000;
color:#999;
font-size:16px;
font-weight: normal;
padding: 5px 0;
}

.push {
padding-left: 10px;
}
.stripped {
margin-top: 0;
margin-bottom: 0;
}

.xs {
text-align: right;
}

.lighten {
color:#fff;
}

.fill {
text-align:justify;
}

.s {
font-size:small;
}

.noBullets {
list-style:none;
margin:0;
}

.dottedline {
border-bottom:1px dotted;
width:100%;
}

.lists {
font-size: 12px;
margin-top: 20px;
margin-bottom: 0px;
}

.lineh3 {
width: 140px;
background: white;
margin: -20px auto 20px;
padding: 0 10px;
text-align: center;
font-weight: normal;
}

.textrow {
margin-bottom: 100px;
}

.textrow p {
	text-align: justify;
}

.lineimg {
width: 200px;
background: white;
margin: -20px auto 20px;
padding: 0 20px;
text-align: center;
}

.betweenDottedLines {
vertical-align:middle;
text-align:center;
}

hr {
height:1px;
background-color:#c7c7c7;
}

.underlined {
text-decoration:underline;
}

.carousel {
background-color:transparent;
text-align:center;
min-height:320px;
}

.carousel .item img {
margin-top:40px;
margin-bottom: 40px;
}

.text-center,.centered,.carousel-inner {
text-align:center;
}

.high {
margin-bottom: 5px;
}

.skype {
margin: -10px 0 -17px -15px;
}

.contactinfo {
text-align: right;
line-height: 17px;
}
.contactinfo img {
float: left;
}

.first {
opacity: 0;
}

@media (min-width: 1200px) {
	.intro {
	font-size: 21px;
	line-height: 34px;
	padding-top: 37px;
	}
}

@media (max-width: 979px) and (min-width: 768px) {
	.intro {
	font-size: 13px;
	line-height: 22px;
	padding-top: 26px;
	}
	.textrow p {
	font-size: 13px;
	line-height: 22px;
	}
	.row {
	margin-top: 30px;
	margin-bottom: 20px;
	}
	.stripped {
	margin-top: 0;
	margin-bottom: 0;
	}
	.contactinfo img {
	display: none;
	}
	.portfolio img {
	height: 250px;
	}
}

@media (max-width: 767px) {
	.intro {
	font-size: 18px;
	line-height: 28px;
	}
	body {
	padding-right: 0px;
	padding-left: 0px;
	}
	.container {
	margin-left: 20px;
	margin-right: 20px;
	}
	.blackbar {
	margin: 20px -20px;
	padding: 5px 20px;
	}
	.footer {
	margin-right: 0px;
	}
	.contactinfo {
	text-align: left;
	}
	.contactinfo img {
	margin-right: 10px;
	}
	.dottedline {
	margin-top: 50px;
	}
	.textrow {
	margin-bottom: 0px;
	}
	.stripped {
	margin-top: 0;
	margin-bottom: 0;
	}
	.contactinfo img {
	display: none;
	}
	.portfolio img {
	height: 250px;
	}
}

.portfolio     { background-color:#000; }
.portfolio0    { background-color:#000; }
.portfolio1    { background-color:#000; }
.portfolio2    { background-color:#000; }
.portfolio3    { background-color:#000; }
.portfolio4    { background-color:#000; }
.portfolio5    { background-color:#000; }
.portfolio6    { background-color:#000; }
.portfolio7    { background-color:#000; }
.portfolio8    { background-color:#000; }
.portfolio9    { background-color:#000; }
.portfolio10   { background-color:#000; }
.portfolio11   { background-color:#000; }
.portfolio12   { background-color:#000; }
.portfolio13   { background-color:#000; }
.portfolio14   { background-color:#000; }
.portfolio15   { background-color:#000; }
.portfolio16   { background-color:#000; }
.portfolio17   { background-color:#000; }
.portfolio18   { background-color:#000; }

.slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  .slider:hover .flex-direction-nav {
    display: block !important; }
  .slider ul {
    list-style: none; }
    .slider ul.slides li {
      text-align: center;
      line-height: 400px; }
      .slider ul.slides li img {
        vertical-align: middle; }
    .slider ul.flex-direction-nav {
      width: 100%;
      height: 100%;
      position: absolute;
      display: none;
      top: 0;
      left: 0; }
      .slider ul.flex-direction-nav li {
        height: 100%; }
        .slider ul.flex-direction-nav li:first-child {
          float: left;
          width: 30%; }
          .slider ul.flex-direction-nav li:first-child a:after {
            left: 30px; }
        .slider ul.flex-direction-nav li:last-child {
          float: right;
          width: 70%; 
          padding-right: 20px; }
          .slider ul.flex-direction-nav li:last-child a:after {
            right: 30px; }
        .slider ul.flex-direction-nav li a {
          display: block;
          width: 100%;
          height: 100%;
          text-indent: -119988px;
          overflow: hidden;
          text-align: left;
          position: relative;
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
          opacity: 0;
          -webkit-transition-property: opacity;
          -moz-transition-property: opacity;
          -o-transition-property: opacity;
          transition-property: opacity;
          -webkit-transition-duration: 0.25s;
          -moz-transition-duration: 0.25s;
          -o-transition-duration: 0.25s;
          transition-duration: 0.25s; }
          .slider ul.flex-direction-nav li a:hover {
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
            opacity: 1; }
          .slider ul.flex-direction-nav li a:after {
            content: "";
            display: block;
            width: 22px;
            height: 34px;
            position: absolute;
            top: 50%;
            margin-top: -17px;
            background-image: url("../img/asset.png");
            background-position: 0 -141px; }
          .slider ul.flex-direction-nav li a.flex-next:after {
            background-position: -22px -141px; }
  @media only screen and (max-width: 480px) {
    .slider {
      width: 100%;
      height: 300px; }
      .slider ul.slides li {
        line-height: 300px; } }


html.touch ul.flex-direction-nav {
  pointer-events: none;
  display: none !important; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }